/*//index2.css 使用站点http://testdynpro.com:8080/index2.html*/
/*清边距 默认边距使用＊ 代替*/
*{
	margin:0;
	padding:0;
}
a{
	/*下划线去掉*/
 text-decoration: none;	
}
body
{
	/*给整体网页的内容一个默认的字体*/
	font:14px/1.5 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif ;
}
img,input{
    
    /*将img 与input的默认的边框去掉*/
	border: none;
	 /*兼容IE6*/
	border: 1px solid none;

}
/*浏览器调试 如何检查css样式是否引用成功*/
/*公共样式 所有a都有一个颜色 鼠标经过它也有一个颜色*/
#hd-header
{
	width: 90%;
	height: 100px;
	background: #F0F0F0;
	/*观察UI布局 元素是放在盒子里 以上只指定了盒子的宽高 但是如何
保证用户缩放浏览器 该盒子都在界面中央 不会顶到浏览器太靠左 或 太靠右
	*/
	margin: 0 auto;
	top: 30px;
  /* 为了开发的时候有个基准 给这个盒子一个边框 完全开发时使用*/
	border: 1px solid #f00;
	position: relative;

}
/*这里需要注意 #hd-header .header-logo 这两个层级查找之间 需要有空格
要不然css无法解析 这是两个层级 还是一个id名 导致没有效果
*/
#hd-header .header-logo
{
   display: block;
   width: 154px;
   height: 74px;
   /*a是行级元素 我们这里要设置宽高 就设置block 
   块级元素 方便我们设置宽高
	为 a标签 添加背景图片使用background
	我们可以使用float 也可使用绝对定位 ；我们建议使用绝对定位
	因为绝对定位会解决很多兼容的问题
	使用绝对 那么须指明 父级元素使用 相对 自己元素使用 绝对、
	这样才有效
   */
   background: url(./logo.png);
   position: absolute;
}
/*这里为什么需要加父级 .header-search 这样直接就可以使用 
是因为加父级 方便查找 加快速度 ；也便于维护
*/
#hd-header .header-search
{
	width: 412px;
	height: 40px;
	border: 1px solid #00AFE4;
	position: absolute;
	left: 330px;
	top: 40px;
	color: #A9A9B0;
	/*input 的占位默认显示内容 如何不顶着左侧边框 使用padding*/
	padding-left: 10px;
	/*这里需要注意 如果加了这个上边的宽度 需要减去该值 在精确UI效果时*/ 
}
#hd-header p
{
	left: 690px;
	width: 80px;
	height: 50px;
	background: url(./search.png) no-repeat;
	position: absolute;
	top:40px;


}
#hd-header ul 
{
	left: 690px;
	width: 80px;
	height: 50px;
	background: url(./search.png) no-repeat;
	position: absolute;
	top:40px;


}
#navItems
{
	left: 0px;
	right: 0px;
	/*这里导航兰 佐证了 相对定位 是整个页面
	 那些指明过相对定位的元素的坐标的累加值 相对会在指明过相对的元素 进行相对累加
	 晦涩难懂
	 */
	top: 30px;
	height: 40px;
	background: #03AFE4;
	position: relative;

}
#navItems ul
{
	left: 100px;
	right: 100px;
	height: 40px;
	top: 0px;
	position: absolute;
	/*background: #AAAAAA;*/
	border: 1px solid blue;
	
}
#navItems ul li
{
	float: left;
		list-style: none;
}
#navItems ul li a
{
	display: block;
	width:  100px;
	height: 20px;
	border: 1px solid yellow;
	/*每个精灵之间 边框之间 留个空隙呗*/
	margin-right: 10px; 
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;


}
#hd-register
{
	background:#E8EDF1;
	height: 30px;
	left: 0px;
	right: 0px;
	top: 0px;
	/*这里上边明明已经 可以限定div的区域 为什么指明宽高 就是为了防止ul li
	float 时掉下来

	*/
	width: 1580px;
	position: absolute;
}
#hd-register ul li 
{
	    float: left;
		list-style: none;
}
#hd-register ul li a
{
	display: block;
	width:  100px;
	height: 10px;
	border: 1px solid yellow;
	/*每个精灵之间 边框之间 留个空隙呗*/
	margin-right: 10px; 
	padding-left: 20px;
	padding-right: 10px; 
	padding-top: 4px;
	padding-bottom: 10px;
}
#hd-register .hd-register-uli1
{
	margin-left:  60px;
}
#hd-register .hd-register-uli7
{
	background: url(./qqlogin.png) no-repeat;
	width: 126px;
	height: 26px;
}
#jiarudiv
{
	background: #E8EDF1;
	top: 30px;
	height: 100px;
	width: 1580px;	
	position: relative;
}
 #jiarudiv ul .reg-jiaru
 {
 	display: block;
 	background: #ef7360;
 	width: 120px;
 	height:30px;
 	margin-left: 100px; 
 	/*给方块区域添加圆角*/
 	border-radius: 2px; 
 	font-size: 14px;
 	color: #fff;
 	position: absolute;
 	/*padding-left: 20px;
 	padding-top: 10px;*/
 	/*让文字在a标签中居中的处理*/
 	line-height: 30px;
 	text-align: center;



 }
  #jiarudiv ul .reg-jiaru:hover
  {
     background: #ED6752;
  }
  #jiarudiv .reg-jiaru span
 {
 
 	width: 60px;
 	height:30px;
 	font-size: 12px;
 	margin-left: 3px; 

 }
 #jiarudiv ul  p
 {
    position: absolute;
    left: 280px;
    top: 26px;
    font-size: 16px;
    color: #666666;
 }
 #jiarudiv ul input
 {
 	position: absolute;
  	width: 158px;
  	height: 32px;
  		padding-left: 10px;
  	color: #A9A9B0;
 }
  #jiarudiv ul .username
  {

	/*为了兼容IE 多用pading 少用margin*/
	right: 260px;
	top: 30px;
	padding-left: 10px;

  }
   #jiarudiv ul .pasword
  {
  	right: 88px;
  	top: 30px;

  }
   #jiarudiv ul .login-btn
  {
  	display: block;
  	width: 80px;
  	height: 33px;
  	background:#3ba354; 
  	color:#fff;
  	right: 4px;
  	top: 30px;
  	text-align: center;
  	line-height: 33px;
  	position: absolute;
  	border-radius: 2px;
  	font-size: 13px;

  }
    #jiarudiv ul .login-btn:hover
    {
    	background: #1c9439;
    }
    #jiarudiv ul .remember-p
    {
		position: absolute;
		left: 1060px;
		top: 68px;
		width: 86px;
		height: 18px;
		/*这里由于p标签中 放了input 为了调整p中文本的位置 需要padding-left
		但是如果input没有float 则padding－left会把input和p标签一起移动 
		所以记得input要float
		*/
		color: #000;
		padding-left: 30px;
		font-size: 14px;

    }
    #jiarudiv ul .remember-p .remember
    {     
    	  top: 4px;
    	  left: 10px;
          width: 13px;
          height: 13px;
          float: left;
          position: absolute;
          /*p标签中放了 checkbox 结果遮挡了p标签的内容*/
    }
     #jiarudiv ul .forget
     {
		position: absolute;
		left: 1220px;
		top: 68px;
		width: 86px;
		height: 18px;
		line-height: 18px;
		text-align: center;
		color: 
     }

#hd-con
{
	position: relative;
	top: 30px;
	margin: 22px auto 0;

	width: 1580px;
	height: 510px;
	border: 1px solid #f00;

}
h2.title1
{
	font-weight: 400;
	font-size: 16px;
	color: #007722;
}
#hd-con .hd-conleft
{
	width: 480px;
	height: 480px;
    background: #F8E304;
	left: 40px;
	position: absolute;
	border: 1px solid #f00;
}
#hd-con .hd-conleft ul
{
	border: 1px solid #f00;
	/*style:none;*/

}
#hd-con .hd-conleft ul li
{
	width: 120px;
	height: 140px;
	list-style: none;
	float: left;
	/*图片 填充这一区域 如果图片过大 会超出 li的限制区域 如何解决*/
	overflow: hidden;

}
#hd-con .hd-conleft ul li span
{
	color: #999999;
}
#hd-con .hd-conmiddle
{
	width: 480px;
	height: 480px;
    left: 560px;
	position: absolute;
	border: 1px solid blue;
}
#hd-con .hd-conmiddle ul a
{
	color: #666666;

}
#hd-con .hd-conmiddle ul h2
{
	font-weight: normal;
	color: #999;
	font-size: 12px;

}
#hd-con .hd-conmiddle ul li
{
	line-height: 26px;

}
#hd-con .hd-conmiddle ul p
{
	color: #666666;
}
#hd-con .hd-conright
{
	width: 480px;
	height: 480px;
	left: 1080px;
	position: absolute;
	border: 1px solid #f00;
}
#hd-con .hd-conright p
{
	color: #999999;
}
#hd-con .hd-conright b
{
	font-weight: 400;
	color: #999999;
}
#hd-con .hd-conright ul li
{
	margin-bottom: 8px;
}
h2.title2
{
	font-weight: 400;
	color: #007722;
	font-size: 16px;
}
h2.title2 span
{
	color: #007722;
	font-size: 12px;
}
h2.title2 span a
{
	color: #007722;
}
#hd-con .hd-conright .last-ad
{
	width: 258px;
	height: 118px;
	border: 1px solid #eeee00;
	position: absolute;
	/*小广告 始终在 右边内容去的底部 靠右侧 距底部一定距离*/
	right: 6px;
	bottom: 30px;

}
#hd-con .hd-conright .last-ad h2
{
	position: absolute;
	color: #000;
	font-size: 15px;
	left: 19px;
	top: 15px;

}
 #hd-con .hd-conright .last-ad .last-ad-pic
 {
    position: absolute;
    display: block;
    width: 100px;
    height: 60px;
    left: 19px;
    top: 44px;
    overflow: hidden;
 }
  #hd-con .hd-conright .last-ad .last-ad-rainbow
  {
  	position: absolute;
  	right: 0px;
  	top: 0px;	
  }
 #hd-con .hd-conright .last-ad .ghost
 {
 	display: block;
 	width: 68px;
 	height: 28px;
 	overflow: hidden;
 	position: absolute;
 	left: 87px;
 	top: 11px;
 }
  #hd-con .hd-conright .last-ad .last-ad-beghost
  {
		position: absolute;
		left: 128px;
		top: 46px;

  }
#hd-con .hd-conright .last-ad p
{
	color: #999999;
	position: absolute;
	left: 128px;
	top: 66px;
}
#hd-con .hd-conright .last-ad span
{
	color: #999999;
	position: absolute;
	left: 128px;
	top: 80px;
}
#adquyu
{
	position: relative;
	top: 30px;
	width: 950px;
	height: 120px;
	margin: 0 auto;
	border: 1px solid blue;
	overflow: hidden;
}
#hd-movie
{
	background: #f7f7f7;
	position: relative;
	top: 50px;
	height: 631px;
	border: 1px solid cyan;

}
a{
	 /*logo图片竟然是放在a标签中 而不是放在img标签*/ 
	color:#D9DAF2; 
}
a:hover{
	background:#3CC3F0; 
    color: #D9DAF2;
}